<%= form_tag(form_action, :id => "merge", :class => 'merge') do %>
  <h3><%= _("Merge Articles") %></h3>

  <div class='merge'>
    <label for="merge_article"><%= _("Article ID")%></label>
    <div class='input'>
      <%= text_field 'merge', 'with' %>
    </div>
    <%= submit_tag(_("Merge"), {:class => 'btn'}) %>
  </div>
<% end %>  
